<div class="container">
    <i class="fa fa-address-card icon-color-dark" aria-hidden="true"></i>
    <div>
        <h3>Contatos</h3>
        <p>
            Se você tiver alguma duvida ou sugestão falo conosco
        </p>
        <p>
            <span>
                <i class="fa fa-envelope icon-color-blue" aria-hidden="true"></i>
            </span>
            <h5><email address="pj38alves@gmail.com" content="Enviar um e-mail" class="link-cart"></email></h5>
            <hr />
            <span>
                <i class="fa fa-phone icon-color-green" aria-hidden="true"></i>
            </span>
            <h5>(81) 9 9999-8888</h5>
            <br />
            <hr />
            <span>
                <i class="fa fa-home icon-color-red" aria-hidden="true"></i>
            </span>
            <h5>AV. Sul n° 100 Centro - 11111-111 Recife-PE</h5>
        </p>
    </div>
</div>