<br />
<i class="fa fa-user-o fa-2x icon-color-blue" aria-hidden="true"></i>
<div class="container">
    <div>
        <p>
            <h2 class="icon-color-blue">Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="link-cart">Volta a Home Page</a>
</div>