html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.border-image-product {
    border: 1px solid #DCDCDC;
}

.icon-color-white {
    color: #FFFFFF;
}

.icon-color-red {
    color: #FF0000;
}

.icon-color-blue {
    color: #0000FF;
}

.icon-color-green {
    color: #3CB371;
}

.icon-color-dark {
    color: #000000;
}

.link-cart {
    text-decoration: none;
}